@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');


img{ max-height: 100%; max-width: 100%}


/*----------------------------------------color*/
 
.recipe {
    background-color: #8FC19B; 
     
 }
 
.recipes {
    background-color: #8FC198; 
    
}

.navbar {
     background-color:#40B66C;
}


.about {
     background-color: #95D8B9;
 }
 
.contact {
     background-color:#21E8B2;
}

footer {
    background-color:#40B66C;
}

.ingredients {
    background-color: #8FC19B;
}

.step-by-step {
    background-color:#95D8B9;
}

/*................................................navbar*/


.navbar-header {
    height: 120px;
}


.navbar-brand {
    height: 150px;
    padding: 0px;
}

.nav {
    font-size: 30px;
    margin-top: 15px;
}

.navbar {
    margin-bottom: 0px;
}

/*-----------------------------------special paddings*/

.inline-block {
    display:inline-block;
}

.align-center{
    text-align: center;
}

.recipe{
    margin-top: 50px;
    padding-top: 50px;
}


.right{
    text-align: right;
    margin-right: 10px;
}




/*-----------------------------------------------------contact forms*/



.contact button{
    margin-top: 15px
}


/*----------------------------------------------------ingredients list*/


.ingredients {
    color: #fafafa;
    padding-bottom: 20px
}

/*-------------------------------------------------picture*/


.cutting-board {
    width: 100%;
    margin:0px;
    padding:0px;
}

.pesto {
    height: 447px;
    width:450px;
}

/*--------------------------------------------step-by-step*/


.step-by-step video{
    margin-top: 30px;
    margin-left:20%;
}

.step-by-step{
    margin-bottom: 20px;
}

/*-----------------------------------------------recipes*/


.recipes a {
    font-size: 24px;
    font-family: "monsterrat", sans-serif;
    font-weight: 300;
    color: #fafafa;
    
}

.recipes img{
    border-radius: 50%;
}

.recipes img:hover{
    transition: .5s;
    
}


/*----------------------------------------------------footer*/

footer p{
    color:#fafafa;
}

footer a{
    color:#fafafa;
}



/*------------------------------------------------photo credit
Logo made by me
Cutting boardphoto Photo by Katie Smith on Unsplash
Chocolate Mousse photo by Betty crocker
Skagenröra photo from Receptfavoriter.se
Pasta photo from Eatingwell.com
4 plates photo by vernon raineil on uplash
-----*/


/*------------------------------------media queries*/

@media(min-width: 992px){
    .fullscreen{
        min-height: 800px;
    }
    
    .vertical-center{
         padding-top: 200px;
    }
    
    .step-by-step {
        min-height: 700px;
    }
    
    .ingredients {
        min-height: 700px;
    }

}

@media(max-width: 992px){
    
    .step-by-step video{
        margin-left: 10px;
    }
    
    
    .nav {
        font-size:20px;
    }
    
    .navbar-brand {
    height: 70px;
    padding:0px;
}

    .navbar-header {
    height:80px;
}

}

@media( max-width:768px){
    .step-by-step video{
        width:300px;
        height: 200px;
    }
}

