@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');


img{ max-height: 100%; max-width: 100%}


/*----------------------------------------color*/
 .header-color{
 background-color:#40B66C;
 }
 
 .recipe{
background-color: #8FC19B; 
     
 }
 
 .about{
     background-color: #95D8B9;
 }
 
 .contact{
 background-color:#21E8B2;
}

footer{
    background-color:#40B66C;
}

.ingredients{
    background-color: #8FC19B;
}

/*-----------------------------------special paddings*/

.inline-block {
    display:inline-block;
}

.align-center{
    text-align: center;
}

.recipe{
    margin-top: 50px;
    padding-top: 50px;
}




/*---------------------------------------header*/

header {
    margin: 0;
}

.header {
    margin-left:50px;
}


.logo {
    background :url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 189px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

#nav {
    margin:0;
}

#nav li {
    padding:0;
}



.logo {
    height: 100%;
}

.nav-bar{
    height:120px;
    text-align: center;
    padding: 0;
    background-color:#40B66C;
}

.nav-bar a{
    width:100%;
    text-decoration: none;
    color:#ffffff;
    height:120px;
}

.nav-bar span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hvr-sweep-to-top:before {
    background: rgba(0,0,0, 0.2);
    height: 120px;
    
}

/*-----------------------------------------------------contact forms*/

.form-control {
   max-width: 50%;
   margin:0 auto;
   margin-bottom: 5px;
}

.contact button{
    margin-top: 15px
}


/*----------------------------------------------------ingredients list*/


.ingredients {
    color: #fafafa;
    min-height: 700px;
}

/*-------------------------------------------------picture*/


.cutting-board {
    width: 100%;
    margin:0px;
    padding:0px;
}

/*--------------------------------------------step-by-step*/


.step-by-step video{
    margin-top: 30px;
    margin-left:20%;
}


/*-----------------------------------------------recipes*/

.recipe a {
    font-size: 24px;
    font-family: "monsterrat", sans-serif;
    font-weight: 300;
    color: #fafafa;
    
}

.recipe img{
    width: 200px;
    height:200px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.recipe img:hover{
    width: 250px;
    height:250px;
    transition: .5s;
    
}


/*----------------------------------------------------footer*/

footer p{
    color:#fafafa;
}

footer a{
    color:#fafafa;
}



/*------------------------------------------------photo credit
Logo made by me
Cutting boardphoto Photo by Katie Smith on Unsplash
Chocolate Mousse photo by Betty crocker
Skagenröra photo from Receptfavoriter.se
Pasta photo from Eatingwell.com

-----*/


/*------------------------------------media queries*/

@media(min-width: 992px){
    .fullscreen{
        min-height: 800px;
    }
    
    .vertical-center{
     padding-top: 200px;
    }
}

@media(max-width: 992px){
    .step-by-step video{
        margin-left: 10px;
    }
}

@media( max-width:768px){
    .step-by-step video{
        width:300px;
        height: 200px;
    }
}

